<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Niv search engine</title>
</head>
<body>
    <center>
        <div style="margin-top: 50px;" class="ui container">
            <h1 class="ui center aligned header">Niv search engine</h1>

            <form class="ui form" action="/search" method="post">
                <div class="field">
                    <input type="text" name="title" placeholder="Search"><br>
                </div>
                <button class="ui blue button" type="submit">search</button>
            </form>
        </div>
    </center>
</body>
</html>