<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Niv search engine</title>
</head>
<body>
    <center>
        <div style="margin-top: 20px;" class="ui container">
            <h1 class="ui center aligned header">Niv search engine</h1>

            <form class="ui form" action="/search_results" method="post">
                <div class="field">
                    <input type="text" name="title" placeholder="Search">
                    <button class="ui blue button" type="submit">search</button>
                </div>
            </form>
        </div>
    </center>
    {% for result in search_results %}
        <div class="col mt-3">
            <div class="col">
                <strong><a href="{{ result.url }}">{{ result.title }}</a> </strong>
            </div>
            <div class="col">
                <a href="{{ result.url }}">{{ result.url }}</a>
                <p>{{ result.title }}</p>
            </div>
        </div>
    {% endfor %}
</body>
</html>